/* Home.css */
@media (min-width: 1024px) {
  .responsive-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .responsive-grid {
    display: block;
  }
}
